@implements IDisposable

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Local est vide</th>
            <th scope="col">Variation maximale</th>
            <th scope="col">Date de vérification</th>
        </tr>
    </thead>
    <tbody>
        @if (ScanHistory != null && ScanHistory.Any())
        {
            @foreach (var item in ScanHistory)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@(item.IsLocalEmpty ? "Oui" : "Non")</td>
                    <td>@item.MaxDistanceVariation pouces</td>
                    <td>@item.ScanDate</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    [Inject]
    public IScanService ScanService { get; set; } = null!;

    private IEnumerable<ScanResultEntity>? ScanHistory { get; set; }

    protected override void OnInitialized()
    {
        ScanHistory = ScanService.GetAllEntities();

        ScanService.OnDataHasChanged += ScanService_OnDataHasChanged;
    }

    private void ScanService_OnDataHasChanged(object? sender, EventArgs e)
    {
        InvokeAsync(() =>
        {
            ScanHistory = ScanService.GetAllEntities();
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        ScanService.OnDataHasChanged -= ScanService_OnDataHasChanged;
    }
}
