<div class="card">
    <div class="card-content">
        <div class="scan-card-body">
            <h5 class="scan-card-title">RoomScanner | Jonathan Côté</h5>
            <p class="scan-card-text">Dectecte s'il reste quelque chose dans une pièce</p>
            <a href="/swagger" target="_blank" class="btn btn-link my-1">Voir la documentation API (Swagger)</a>
            <a href="/hangfire" target="_blank" class="btn btn-link my-1">Voir les tâches Hangfire</a>
        </div>
    </div>
</div>
