@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: #0a192f;
    color: #b9c6e3;
}


/* Container pour les cartes */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

/* Carte */
.card {
    box-sizing: border-box;
    background-color: #172a46;
    border-radius: 10px;
    padding: 16px;
    width: 100%;
    min-height: 200px;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.15), 0 6px 8px rgba(0, 0, 0, 0.1);
}

    .card h1 {
        font-size: 1.4rem;
        font-weight: 700;
    }


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, tr, th {
    color: #b9c6e3;
}


/* Styliser la balise <cite> */
cite {
    font-style: italic;
    font-size: 0.9em;
    color: #333;
}

/* Styliser la balise <blockquote> */
blockquote {
    padding: 0.5em 1em;
    border-left: 3px solid #ccc;
    background-color: #172a46;
    font-style: italic;
    font-size: 1.1em;
    color: #666;
}

/* Ajouter des guillemets à la balise <q> */
blockquote {
    quotes: "“" "”";
}


.grid-data {
    max-height: 500px;
    overflow-y: scroll;
}

/* Personnalisation de la barre de défilement */
.custom-scrollbar::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background-color: #4c6880;
    border-radius: 4px;
}

    .custom-scrollbar::-webkit-scrollbar-thumb:hover, body::-webkit-scrollbar-thumb:hover {
        background-color: #6092a1;
    }
